<ion-header>
  <ion-toolbar color="primary" class="toolBar">
    <ion-grid>
        <ion-row>
          <ion-col>
            <div class="ion-text-start">
                <ion-icon style="vertical-align: -webkit-baseline-middle;" name="arrow-back" class="icon-size" (click)="onBackCreateEvent()" ></ion-icon>
            </div>
          </ion-col>
          <ion-col>
              <div class="ion-text-center">
                  <ion-title class="titlename">
                      EVENT INVITATION
                  </ion-title>
              </div>
          </ion-col>
          <ion-col>
            <div *ngIf="eventdata.isPrivate !== true" class="ion-text-end">
                <span (click)="skip()" style="color: #fff; vertical-align: -webkit-baseline-middle;">Skip</span>
            </div>
          </ion-col>      
        </ion-row>

        <!-- <ion-toolbar class="search-bar">
            <ion-searchbar></ion-searchbar>
        </ion-toolbar> -->
      </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-searchbar (ionClear)="onClear($event)" placeholder="Search by Name" (keyup)="searchfilter($event)" animated></ion-searchbar>


      <!-- List of Text Items -->
      <ion-list>
          <ion-list-header>
              Following
          </ion-list-header>
            <ion-spinner style="margin-left: 50%;margin-top: 40%;transform: scale(1.6);" *ngIf="isLoading" name="crescent" id="pageLoader">
            </ion-spinner>
  
          <ion-item *ngFor="let user of allUsers;let position=index" lines="none" class="user-list">
            <ion-avatar (click)="onHoomanProfile()" slot="start" class="user-img">
              <ion-img *ngIf="user.profileImage === null" src="assets/img/profile_icon.png">
              </ion-img>
              <ion-img *ngIf="user.profileImage" src="{{user.profileImage}}">
              </ion-img>
            </ion-avatar>
            <ion-label>
              <h2>{{user.fullName}}</h2>
              <p>{{user.userName}}</p>
            </ion-label>
            <ion-button *ngIf="!CheckInArray(invitations, user._id)" fill="outline" (click)="invitation(user)">Invite</ion-button>
            <ion-button *ngIf="CheckInArray(invitations, user._id)" (click)="removeItem(user)">Invited</ion-button>
            <!-- <ion-fab-button *ngIf="!isInvited" (click)="invitation(user)" class="fab-btn"> <ion-icon name="checkmark"></ion-icon></ion-fab-button> -->
            <!-- <ion-fab-button *ngIf="isInvited" (click)="removeItem(position)" class="fab-btn"> <ion-icon name="checkmark"></ion-icon></ion-fab-button> -->
          </ion-item>
        </ion-list>
</ion-content>
<ion-footer>
<div class = "bar bar-footer bar-assertive footer" (click)="onPreview()">
  <ion-title class="ion-text-center footer-text">PREVIEW EVENT</ion-title>
</div>
</ion-footer>
