.toolbar {
/*    box-shadow: 0px 1px 5px #888888;
    --background:#6633cc;*/
    height: 56px;
    text-align: center;
}

.message {
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 4px;
  white-space: pre-wrap;
}
 
.my-message {
  background: var(--ion-color-tertiary);
  color: #fff;
}
 
.other-message {
  background: var(--ion-color-secondary);
  color: #fff;
}
 
.time {
  color: #dfdfdf;
  float: right;
  font-size: small;
}

.toolbar {
    box-shadow: 0px 1px 5px #888888;
    --background:#6633cc;
    height: 56px;
    text-align: center;
}

.message {
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 4px;
  white-space: pre-wrap;
}
 
.my-message {
  background: var(--ion-color-tertiary);
  color: #fff;
}
 
.other-message {
  background: var(--ion-color-secondary);
  color: #fff;
}
 
.time {
  color: #dfdfdf;
  float: right;
  font-size: small;
}



/*--------- chat window ---------------*/


.chat_msg {
	/*border: 1px solid #ddd;*/
	clear: both;
	
}

.top_spac {
	margin: 20px 0 0;
}


.srch_bar {
	display: inline-block;
	text-align: right;
	width: 60%;
}

.recent_heading h4 {
	color: #0465ac;
    font-size: 16px;
    margin: auto;
    line-height: 29px;
}

.srch_bar input {
	outline: none;
	border: 1px solid #cdcdcd;
	border-width: 0 0 1px 0;
	width: 80%;
	padding: 2px 0 4px 6px;
	background: none;
}

.srch_bar .input-group-addon button {
	background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
	border: medium none;
	padding: 0;
	color: #707070;
	font-size: 18px;
}

.srch_bar .input-group-addon {
	margin: 0 0 0 -27px;
}

.chat_ib h5 {
	font-size: 15px;
	color: #464646;
	margin: 0 0 8px 0;
}

.chat_ib h5 span {
	font-size: 13px;
	float: right;
}

.chat_ib p {
    font-size: 12px;
    color: #989898;
    margin: auto;
    display: inline-block;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.chat_img {
	float: left;
	width: 11%;
}

.chat_img img {
	width: 100%
}

.chat_ib {
	float: left;
	padding: 0 0 0 15px;
	width: 88%;
}

.chat_people {
	clear: both;
}

.chat_list {
	border-bottom: 1px solid #ddd;
	margin: 0;
	padding: 18px 16px 10px;
}

.inbox_chat {
	height: 550px;
	overflow-y: scroll;
}

.active_chat {
	background: #e8f6ff;
}

.incoming_msg_img {
    display: inline-block;
    width: 10%;
    vertical-align: top;
}

.incoming_msg_img img {
	width: 100%;
}

.outgoing_msg_img {
    display: inline-block;
    width: 13%;
    float: right;
    /* position: absolute; */
    margin-top: -72px;
}

.outgoing_msg_img img {
	width: 100%;
}



.received_msg {
    display: inline-block;
    padding: 0 0 0 10px;
    vertical-align: top;
    width: 85%;
    vertical-align: super;
}

.received_withd_msg p {
	background: #0465ac none repeat scroll 0 0;
    border-radius: 15px 15px 15px 0px;
    color: #fff;
    font-size: 16px;
    margin: 0;
    padding: 10px 10px 5px 12px;
    width: 100%;
}

.outgoing_withd_msg p {
	    background: #0465ac none repeat scroll 0 0;
    border-radius: 0 15px 15px 15px;
    color: #fff;
    font-size: 16px;
    margin: 0;
    padding: 10px 10px 5px 12px;
    width: 100%;
}

.time_date {
	color: #747474;
	display: block;
	font-size: 12px;
}

.received_withd_msg {
	width: 86%;
}

.mesgs{
	float: left;
	width:100%;
}

.sent_msg p {
    background: #ebebeb;
    border-radius: 12px 15px 0px 15px;
    font-size: 16px;
    margin: 0;
    color: #454545;
    padding: 10px 10px 5px 12px;
    width: 100%;
}

.outgoing_msg {
	margin: -17px 0 0px;
}

.sent_msg {
  width: 85%;
  padding: 10px 6px 5px 54px;
}

.input_msg_write input {
	background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
	border: medium none;
	color: #4c4c4c;
	font-size: 15px;
	min-height: 48px;
	width: 100%;
	outline:none;
}

.type_msg {
	border-top: 1px solid #c4c4c4;
	position: relative;
}

.msg_send_btn {
	background: #05728f none repeat scroll 0 0;
	border:none;
	border-radius: 50%;
	color: #fff;
	cursor: pointer;
	font-size: 15px;
	height: 33px;
	position: absolute;
	right: 0;
	top: 11px;
	width: 33px;
}
		
/*// .messaging {
// 	padding: 0 0 50px 0;
// }
*/
.chat_history {
	height: 100%;
}

input[type="text"] {
    padding: 0px 0px 12px 11px !important;
    font-size: 14px !important;
    border: 2px solid #ececec !important;
}

.OnlineDot{
  height: 7px;
  width: 7px;
  background-color: #6bfd8d;
  border-radius: 50%;
  display: inline-block;
}

.OfflineDot{
  height: 7px;
  width: 7px;
  background-color: #ff0000;
  border-radius: 50%;
  display: inline-block;
}

  .toolBar {
    box-shadow: 0px 1px 5px #888888;
    --background:#6633cc;
    height: 56px;
    text-align: center;
  }

.icon-size{
    font-size: 23px !important;
    color: #fff !important;
}

.titlename{
  color: #fff;
    font-size: 24px;
    font-weight: 400;
}

  .listWidth{
    width: 100%;
  }

.img-dpsize{
  width: 48px;
  height: 48px;
}