<ion-header>
  <ion-toolbar color="primary" class="toolBar">
    <ion-buttons style="color: #fff;" slot="start">
      <ion-back-button (click)="dismiss()"></ion-back-button>
    </ion-buttons>
    <ion-grid>
      <ion-row>
        <ion-col></ion-col>
        <ion-col>
          <div class="ion-text-center">
            <ion-title class="AppliName">
              Follow Requests
            </ion-title>
          </div>
        </ion-col>
        <ion-col>
          <!-- <div class="ion-text-end">
              <ion-icon name="add" class="icon-size" (click)="onCreateEvent()"></ion-icon>
            </div> -->
        </ion-col>
      </ion-row>

      <!-- <ion-toolbar class="search-bar">
          <ion-searchbar style=" border-radius: 25px !important;"></ion-searchbar>
        </ion-toolbar> -->
    </ion-grid>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-list>
    <ion-item lines="none" class="user-list">
      <ion-avatar slot="start" class="user-img">
        <img src="./assets/images/simon.jpg">
      </ion-avatar>
      <ion-label>
        <h2>Simon Grimm +2</h2>
        <h3>Liked photo of you</h3>
        <p>15h ago</p>
      </ion-label>
      <ion-fab-button class="ListBtn">
        <ion-icon ios="ios-checkmark" md="md-checkmark"></ion-icon>
      </ion-fab-button>&nbsp; &nbsp;
      <button class="ListBtn ListClsBtn">
        <ion-icon ios="ios-close" md="md-close" class="ClsIcon"></ion-icon>
      </button>
    </ion-item>

    <ion-item lines="none" class="user-list">
      <ion-avatar slot="start" class="user-img">
        <img src="./assets/images/billGates.jpg">
      </ion-avatar>
      <ion-label>
        <h2>Bill Gates</h2>
        <h3>Liked photo of you</h3>
        <p>15h ago</p>
      </ion-label>
      <ion-fab-button class="ListBtn">
        <ion-icon ios="ios-checkmark" md="md-checkmark"></ion-icon>
      </ion-fab-button>&nbsp; &nbsp;
      <button class="ListBtn ListClsBtn">
        <ion-icon ios="ios-close" md="md-close" class="ClsIcon"></ion-icon>
      </button>
    </ion-item>

    <ion-item lines="none" class="user-list">
      <ion-avatar slot="start" class="user-img">
        <img src="./assets/images/simon.jpg">
      </ion-avatar>
      <ion-label>
        <h2>Simon Grimm +2</h2>
        <h3>Liked photo of you</h3>
        <p>15h ago</p>
      </ion-label>
      <ion-fab-button class="ListBtn">
        <ion-icon ios="ios-checkmark" md="md-checkmark"></ion-icon>
      </ion-fab-button>&nbsp; &nbsp;
      <button class="ListBtn ListClsBtn">
        <ion-icon ios="ios-close" md="md-close" class="ClsIcon"></ion-icon>
      </button>
    </ion-item>

    <ion-item lines="none" class="user-list">
      <ion-avatar slot="start" class="user-img">
        <img src="./assets/images/billGates.jpg">
      </ion-avatar>
      <ion-label>
        <h2>Bill Gates</h2>
        <h3>Liked photo of you</h3>
        <p>15h ago</p>
      </ion-label>
      <ion-fab-button class="ListBtn">
        <ion-icon ios="ios-checkmark" md="md-checkmark"></ion-icon>
      </ion-fab-button>&nbsp; &nbsp;
      <button class="ListBtn ListClsBtn">
        <ion-icon ios="ios-close" md="md-close" class="ClsIcon"></ion-icon>
      </button>
    </ion-item>

    <ion-item lines="none" class="user-list">
      <ion-avatar slot="start" class="user-img">
        <img src="./assets/images/simon.jpg">
      </ion-avatar>
      <ion-label>
        <h2>Simon Grimm +2</h2>
        <h3>Liked photo of you</h3>
        <p>15h ago</p>
      </ion-label>
      <ion-fab-button class="ListBtn">
        <ion-icon ios="ios-checkmark" md="md-checkmark"></ion-icon>
      </ion-fab-button>&nbsp; &nbsp;
      <button class="ListBtn ListClsBtn">
        <ion-icon ios="ios-close" md="md-close" class="ClsIcon"></ion-icon>
      </button>
    </ion-item>

    <ion-item lines="none" class="user-list">
      <ion-avatar slot="start" class="user-img">
        <img src="./assets/images/billGates.jpg">
      </ion-avatar>
      <ion-label>
        <h2>Bill Gates</h2>
        <h3>Liked photo of you</h3>
        <p>15h ago</p>
      </ion-label>
      <ion-fab-button class="ListBtn">
        <ion-icon ios="ios-checkmark" md="md-checkmark"></ion-icon>
      </ion-fab-button>&nbsp; &nbsp;
      <button class="ListBtn ListClsBtn">
        <ion-icon ios="ios-close" md="md-close" class="ClsIcon"></ion-icon>
      </button>
    </ion-item>
</ion-list>
</ion-content>