<ion-header [scrollHide]="headerScrollConfig" [scrollContent]="pageContent">
  <ion-toolbar color="primary" class="toolBar">
    <ion-grid>
      <ion-row>
      	<ion-col size=1>
            <div class="ion-text-start">
                <ion-icon style="vertical-align: -webkit-baseline-middle;" name="arrow-back" class="icon-size" (click)="onBack()" ></ion-icon>
            </div>
          </ion-col>
        <ion-col size=11 class="ion-text-center">
          <ion-title class="AppliName">Post Details</ion-title>
        </ion-col>
        <ion-col size=1>
          <ion-icon name="person" class="icon UserIcon" (click)="onProfileClick(userDetails)"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>


<ion-content #pageContent fullscreen>
  <ion-refresher style="z-index: 0;" color="primary" slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" refreshingSpinner="crescent"></ion-refresher-content>
  </ion-refresher>

<!--   <ion-searchbar (ionClear)="onClear($event)" placeholder="Search by username" (keyup)="searchfilter($event)" animated></ion-searchbar> -->

  <!--@@@@@@@@@@@@@@@@@@@@@@@@@@@@  Card start @@@@@@@@@@@@@@@@@@@@@@@@@@@@ -->
  <div>
  <ion-card>
    <ion-card-header class="CardHeader">
      <ion-row>
        <ion-list class="listWidth">
          <ion-item lines="none">
            <ion-avatar *ngIf="postdetails.postAccount.length == 0 || postdetails.postAccount.length > 1" slot="start">
              <ion-img src="{{postdetails.profileImage}}" class="img-dpsize"></ion-img>
            </ion-avatar>
            <ion-avatar *ngIf="postdetails.postAccount.length == 1" slot="start">
              <ion-img src="{{postdetails.postAccount[0].Petid.profileImage}}" class="img-dpsize"></ion-img>
            </ion-avatar>
            <ion-grid>
              <ion-row>
                <ion-col *ngIf="postdetails.postAccount.length == 0 || postdetails.postAccount.length > 1" size="10">
                  <ion-label (click)="onUserProfile()" class="CardHeaderLbl1">
                    <h2 style="margin-left: 2%;">{{postdetails.userName}}</h2>
                    <ion-icon name="pin" class="location-icon"></ion-icon><span
                        class="location-text">{{postdetails.location.district}}</span>
                  </ion-label>
                </ion-col>

                <ion-col *ngIf="postdetails.postAccount.length == 1" size="10">
                  <ion-label (click)="onUserProfile()" class="CardHeaderLbl1">
                    <h2>{{postdetails.postAccount[0].PetName}}</h2>
                    <!-- <h2>{{post.parent}}</h2> -->   <!-- {{post.child}} -->
                    <p (click)="onUserProfile()" style="margin-top: 6px;"><span>{{postdetails.userName}}</span>
                      <ion-icon name="pin" class="location-icon"></ion-icon><span
                        class="location-text">{{postdetails.location.district}}</span>
                    </p>
                  </ion-label>
                </ion-col>

                <ion-col size="2">
                  <ion-label class="CardHeaderLbl2">
                    <span>
                      <ion-icon *ngIf="postdetails.userId === userData.id" name="ios-more" style="font-size: x-large;" (click)="presentPopover($event, postdetails)"></ion-icon>
                      <!-- <p class="time-font-size">{{TimeFromNow(postdetails.createdAt)}}</p> -->
                      <!-- {{post.createdAt | date:'shortTime'}} -->
                    </span>
                  </ion-label>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-item>
        </ion-list>

      </ion-row>
    </ion-card-header>
    <!-- <div *ngIf="post.postType !== 'event'" class="slider-container">
      <ion-slides pager="true" class="bullets">
        <ion-slide *ngFor="let imageslides of post.images">
          <div class="slide" tappable doubleTapable (doubleTap)="doSomething()" (tripleTap)="doAnotherThing()"
            class="LikeAction">
            <img src="{{imageslides}}" />
            <span class="like-icon" *ngIf="like" @fadein>
              <ion-icon name="heart" class="heart-icon"></ion-icon>
            </span>
          </div>
        </ion-slide>
      </ion-slides>
    </div> -->
    

    <div *ngIf="postdetails.postType == 'media'" class="slider-container">
      <ion-slides  #slides [pager]="postdetails.postMedia.length > 1" [options]="sliderOpts" style="background: white;height: 45vh;">
        <ion-slide *ngFor="let item of postdetails.postMedia; let i = index">
          <div class="slide" tappable doubleTapable (tap)="changeVideoAudio(video?.id)" (doubleTap)="LikePost(postdetails)" (tripleTap)="doAnotherThing()"
            class="LikeAction">
            <ion-img style="max-width: 100%;max-height: 100%;" *ngIf="item.type === 'image'" [src]="item.file" width="deviceWidth" height="videoHeight"></ion-img>

            <video *ngIf="item.type === 'video'" inViewport [inViewportOptions]="{ threshold: [0, 0.65], partial: true }" (inViewportAction)="onIntersection($event)" playsinline loop [muted]="'muted'" preload="auto" muted="muted" autoplay="autoplay" [poster]="video?.src" [id]="'media-' + video?.id" class="video-media" style="width: 100%;" height="videoHeight">
              <source [src]="item.file" type="video/mp4">
              <source [src]="item.file" type="video/3gp">
              <source [src]="item.file" type="video/mov">
              <source [src]="item.file" type="video/mpeg">
              <source [src]="item.file" type="video/qt">
              <source [src]="item.file" type="video/flv">
              <source [src]="item.file" type="video/mpe">
              <source [src]="item.file" type="video/m4p">
              <source [src]="item.file" type="video/webm">
              <source [src]="item.file" type="video/swf">
              <source [src]="item.file" type="video/mpv">
              <source [src]="item.file" type="video/m4v">
              <source [src]="item.file" type="video/ogg">
              <source [src]="item.file" type="video/avchd">
              <source [src]="item.file" type="video/mp2">
              <source [src]="item.file" type="video/avi">
              <source [src]="item.file" type="video/mpg">
              <source [src]="item.file" type="video/wmv">
            </video>
            <!-- <span class="like-icon" *ngIf="like" @fadein> -->
              <ion-icon name="heart" class="heart-icon like-icon" *ngIf="like" @fadein></ion-icon>
            <!-- </span> -->
          </div>
        </ion-slide>
      </ion-slides>
    </div>


<!--     <div *ngIf="postdetails.postType == 'video'" class="slider-container">
      <ion-slides  #slides [pager]="postdetails.videos.length > 1" [options]="sliderOpts" style="margin-top: 15px;background: white;height: 45vh;">
        <ion-slide *ngFor="let item of postdetails.videos; let i = index">
          <div class="slide" tappable doubleTapable (tap)="changeVideoAudio(video?.id)" (doubleTap)="LikePost(postdetails)" (tripleTap)="doAnotherThing()" class="LikeAction">
            <video *ngIf="item.type === 'video'" inViewport [inViewportOptions]="{ threshold: [0, 0.65], partial: true }" (inViewportAction)="onIntersection($event)" playsinline loop [muted]="'muted'" preload="auto" muted="muted" autoplay="autoplay" [poster]="video?.src" [id]="'media-' + video?.id" class="video-media" style="width: 100%;" height="videoHeight">
              <source [src]="item.file" type="video/mp4">
              <source [src]="item.file" type="video/3gp">
              <source [src]="item.file" type="video/mov">
              <source [src]="item.file" type="video/mpeg">
              <source [src]="item.file" type="video/qt">
              <source [src]="item.file" type="video/flv">
              <source [src]="item.file" type="video/mpe">
              <source [src]="item.file" type="video/m4p">
              <source [src]="item.file" type="video/webm">
              <source [src]="item.file" type="video/swf">
              <source [src]="item.file" type="video/mpv">
              <source [src]="item.file" type="video/m4v">
              <source [src]="item.file" type="video/ogg">
              <source [src]="item.file" type="video/avchd">
              <source [src]="item.file" type="video/mp2">
              <source [src]="item.file" type="video/avi">
              <source [src]="item.file" type="video/mpg">
              <source [src]="item.file" type="video/wmv">
            </video>
            <span class="like-icon" *ngIf="like" @fadein>
              <ion-icon name="heart" class="heart-icon"></ion-icon>
            </span>
          </div>
        </ion-slide>
      </ion-slides>      
    </div> -->

<!--     <div *ngIf="postdetails.postType == 'thought'">
          <ion-card-content  class="card-info">
              <div *ngIf="!post.showMore">
                {{trimString(postdetails.thought,100)}}
              </div>
              <div *ngIf="postdetails.showMore">
                {{postdetails.thought}}
              </div>
              <a (click)="viewpost(postdetails)" style="color: #6633cc" (click)="postdetails.showMore = !postdetails.showMore">Show <span [innerHtml]="postdetails.showMore ? 'less' : 'More'">  </span>
              </a>
          </ion-card-content>
    </div> -->


    <div *ngIf="postdetails.postType == 'event'" class="slider-container">
      <ion-slides pager="true" class="bullets">
        <ion-slide *ngFor="let imageslides of postdetails.images">
          <div class="slide" tappable doubleTapable (doubleTap)="doSomething()" (tripleTap)="doAnotherThing()"
            class="LikeAction">
            <img src="{{imageslides}}" />
            <ion-button (click)="viewEvent()" color="warning" class="slider-btn"> View Event</ion-button>
            <!-- <span class="like-icon" *ngIf="like" @fadein> -->
              <ion-icon name="heart" class="heart-icon like-icon" *ngIf="like" @fadein></ion-icon>
            <!-- </span> -->
          </div>
        </ion-slide>
      </ion-slides>
    </div>
    <div *ngIf="postdetails.postType == 'event'">
      <ion-row class="TimeRow">
        <ion-col>
          <ion-list lines="none">
            <ion-item class="icon-event">
              <ion-icon class="TimeIcon" name="calendar" color="dark"></ion-icon>&nbsp;&nbsp;
              <div>
                <ion-note color="dark" class="TimeInfo">{{postdetails.eventdate}}</ion-note>
              </div>
            </ion-item>
          </ion-list>

        </ion-col>
        <ion-col>
          <ion-list lines="none">
            <ion-item class="icon-event">
              <ion-icon class="TimeIcon" name="time" color="dark"></ion-icon>&nbsp;&nbsp;
              <div>
                <ion-note color="dark" class="TimeInfo">{{postdetails.eventTime}} Onwards</ion-note>
              </div>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
    </div>

    <ion-card-content *ngIf="postdetails.postType == 'event'" class="CardInfo">
      <div>
        <ion-text color="primary" class="CardHead">{{postdetails.eventHeader}}</ion-text>
      </div>
      <div class="CaptionWrap">
        <ion-text class="Caption">
          <b>{{postdetails.eventcaption.parentname}}</b>&nbsp; {{postdetails.eventcaption.text}}
        </ion-text>
      </div>
    </ion-card-content>

    <div *ngIf="postdetails.postType == 'media'">
      <ion-card-content  class="card-info">
          <div *ngIf="!postdetails.showMore">
            {{trimString(postdetails.caption,100)}}
          </div>
          <div *ngIf="postdetails.showMore">
            {{postdetails.caption}}
          </div>
          <a (click)="viewpost(postdetails)" style="color: #6633cc" (click)="postdetails.showMore = !postdetails.showMore">Show <span [innerHtml]="postdetails.showMore ? 'less' : 'More'">  </span>
          </a>
      </ion-card-content>

    </div>

    <!-- <ion-row *ngIf="post.postType === 'image'">
      <ion-col class="margin-body pad-bottom">
        <ion-text class="caption">
          <span class="SlideImgUserInfo"><span class="SlideUserName">{{post.caption.parentname}}</span>
            {{post.caption}}
            <span class="SlideAtUser" (click)="onUserProfile()"> {{post.caption.tag}}</span><span class="SlideAtUser"
              (click)="onhashPost()"> {{post.caption.hash}}</span></span>
        </ion-text>
      </ion-col>
    </ion-row> -->

      <ion-grid>
    <ion-row>


          <ion-col size="6" style="display: flex">
            <!-- <img style="margin-top: 1%;" src="./assets/img/dog.jpg" class="read-user user3" /> -->
            <div style="flex: 1;">
              <span *ngIf="CheckLikeCountInArray(allLikes, postdetails._id)">
              <span *ngFor="let likecount of allLikes" class="heart-count">
                <span (click)="viewLikes(likecount)" *ngIf="likecount.postId === postdetails._id">{{likecount.likes.length}}</span>
              </span>
              </span>
              <!-- <span class="heart-count">{{postdetails.likes.length}}</span>
              <span>

                <span *ngFor="let item of postdetails.likes; let i = index">
                  <span *ngIf="item.Userid._id == userData.id">
                    <ion-icon (click)="likeUnlike(postdetails)" src="assets/icon/heart.svg" class="liked"></ion-icon>
                  </span>
                </span>
                <ion-icon (click)="likeUnlike(postdetails)" src="assets/icon/heart-outline.svg" class="liked"></ion-icon>

              </span> -->
              <div>
                <ion-icon *ngIf="!CheckLikeInArray(LikedPosts, postdetails._id)" class="liked" (click)="likenewPost(postdetails)" src="assets/icon/heart-outline.svg" style="margin-left: 20px;font-size: 26px;"></ion-icon>

                <ion-icon *ngIf="CheckLikeInArray(LikedPosts, postdetails._id)" (click)="unlikenewPost(postdetails)" src="assets/icon/heart.svg" style="margin-left: 20px;font-size: 26px;" class="liked"></ion-icon>
              </div>
            </div>

            <div style="flex: 1;">
              <span class="read-count"></span>
              <!-- <span class="read-count">{{postdetails.views.length}}</span> -->
              <span>
                <ion-icon  style="margin-left: 19%;" class="notLiked" ></ion-icon>
                <!-- <ion-icon  style="margin-left: 19%;" class="notLiked" name="eye"></ion-icon> -->
              </span>
            </div>

            <!-- <div style="flex: 1;">
              <span class="share-count"></span>
              <span>
                <ion-icon  (click)="shareLink(event)" class="notLiked" name="share-alt" style="margin-left: -18%;">
                </ion-icon>
              </span>
          </div> -->

          
          </ion-col>

          <ion-col size="6">
            
            <div style="margin-left: 70%;">
              <ion-icon *ngIf="!CheckbookmarkInArray(bookmarkedPosts, postdetails._id) && postdetails.userId !== userData.id" class="liked" (click)="bookMarkPost(postdetails)" src="assets/icon/bookmark-outline.svg" style="margin-left: 10px;font-size: 26px;color: #000"></ion-icon>

              <ion-icon *ngIf="CheckbookmarkInArray(bookmarkedPosts, postdetails._id) && postdetails.userId !== userData.id" (click)="unBookMarkPost(postdetails)" src="assets/icon/bookmark.svg" style="margin-left: 10px;font-size: 26px;color: #000" class="liked"></ion-icon>
            </div>
            
        
          </ion-col>

    </ion-row>
  </ion-grid>


  </ion-card>
</div>

</ion-content>
