<ion-header>
  <ion-toolbar color="primary" class="toolBar">
    <ion-grid>
        <ion-row>
          <ion-col>
            <div class="ion-text-start">
                <ion-icon style="vertical-align: -webkit-baseline-middle;" name="arrow-back" class="icon-size" (click)="onBack()" ></ion-icon>
            </div>
          </ion-col>
          <ion-col>
              <div class="ion-text-center">
                  <ion-title class="titlename">
                      Likes
                  </ion-title>
              </div>
          </ion-col>
          <ion-col>
          </ion-col>      
        </ion-row>
      </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
<!--   <ion-searchbar (ionClear)="onClear($event)" placeholder="Search by Name" (keyup)="searchfilter($event)" animated></ion-searchbar> -->

      <ion-list>
            <ion-spinner style="margin-left: 50%;margin-top: 50%;transform: scale(1.2);" *ngIf="isLoading" name="crescent" id="pageLoader">
            </ion-spinner>
  
  		<div *ngFor="let user of likesData;let position=index" >
          <ion-item  lines="none" class="user-list">
            <ion-avatar (click)="onProfileClick(user.Userid)" slot="start" class="user-img">
              <ion-img *ngIf="user.Userid.profileImage === null" src="assets/img/profile_icon.png">
              </ion-img>
              <ion-img *ngIf="user.Userid.profileImage" src="{{user.Userid.profileImage}}">
              </ion-img>
            </ion-avatar>
            <ion-label (click)="onProfileClick(user.Userid)">
              <h2>{{user.Userid.fullName}}</h2>
              <p>{{user.Userid.userName}}</p>
            </ion-label>
          	<!-- <ion-button *ngIf="!CheckInArray(userArr, user._id)" fill="outline" (click)="FollowUser(user)">Follow</ion-button>
          	<ion-button *ngIf="CheckInArray(userArr, user._id)" (click)="UnFollowUser(user)">Following</ion-button> -->
          </ion-item>
          </div>

        </ion-list>
</ion-content>

