
// img{
//     margin-top: -17%;
// }

.icon-size{
    font-size: 23px !important;
    color: #fff !important;
}

  html, body, .ion-app, .ion-content {
    background-color: transparent;
  }

  app-ar ion-content {
    --background: transparent;
  }

  .toolBar {
/*    box-shadow: 0px 1px 5px #888888;
    --background:#6633cc;*/
    height: 56px;
    text-align: center;
  }

  .titlename{
    color: #fff;
      font-size: 24px;
      font-weight: 400;
  }

  .image-container {
    min-height: 200px;
    background-size: cover;
  }
   
  @media (min-width: 0px) {
    .images {
      column-count: 2;
    }
  }
   
  @media (min-width: 420px) {
    .images {
      column-count: 3;
    }
  }
   
  @media (min-width: 720px) {
    .images {
      column-count: 4;
    }
  }
   
  .one-image {
    margin: 2px;
  }

  .grid-top{
  padding-top: 20px;
}

.closeIcon {
    position: absolute;
    margin-left: -4vh;
    font-size: 19px;
    margin-top: 1%;
    border-radius: 10px;
    background-color: #fff;
}

ion-slides {
    margin-top: 50px;
  }
   
  ion-slide {
    flex-direction: column;
    font-size: small;
    ion-text {
      padding: 5px;
    }
    .selected {
      font-weight: 600;
    }
  }